<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%=title%></title>

		<meta name="description" content="Tcl settlements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link href='/css/jquery-ui.min.css' rel="stylesheet" />
		<link href='/css/jquery-ui.custom.min.css' rel="stylesheet" />
		<link href='/css/datepicker.min.css' rel="stylesheet" />
		<link href='/css/bootstrap-datetimepicker.min.css' rel="stylesheet" />
		<link href='/css/ui.jqgrid.css' rel="stylesheet" />
		<%- include('public/header') %>
		<style>
			.lm-5{
				margin-top: 5px;
			}
			.row{
				margin: 4px 0;
			}
			.ui-jqgrid-hdiv .ui-jqgrid-htable {border: 1px solid #E1E1E1; background:#FFF;}
			.ui-jqgrid .ui-jqgrid-htable th div {height:44px; line-height:20px;}
			.ui-jqgrid .ui-jqgrid-htable th div .s-ico {line-height:15px;}
			.ui-jqgrid .ui-jqgrid-htable tbody td {word-wrap: break-word;}

			/* = pagenav分页
-------------------------------------------------------------- */
.pagenav {line-height:23px; font-family:'宋体'; font-size:12px; color:#888; vertical-align: top;box-sizing:content-box; vertical-align:middle; height:40px; text-align: right; padding:10px;}
.pagenav * {box-sizing:content-box;}
.pagenav a:hover {text-decoration:none;}
.pagenav select {padding:2px 3px 2px 3px; margin:0 3px; height: 20px;}
.pagenav-desc {/*display:none;*/}
.pagenav-desc em {/*color:#F60;*/color:#2698D9;}
.pagenav-current {color:#00a0e8; padding:0 4px; min-width:15px; text-align:center; display: inline-block;margin:3px 2px;}
.pagenav-total{padding:0 4px; color:green; display: inline-block;}
.pagenav-link {padding:0 4px; display: inline-block; min-width:15px; text-align:center; color:#999; margin:0px 2px;border: 1px solid #ddd;background: #fff;}
.pagenav-current-link { font-weight: bold; border:none;background:#2698D9; color:#FFF;}
.pagenav-link:hover {background:#F6F6F6;color:#2698D9;border-color:#2698D9;}
/*.pagenav-link-before {padding-right:10px;}
.pagenav-link-next {padding-left:10px;}*/
.pagenav-current-link:hover {background:#2698D9; color:#FFF;}
.only-one-page {display: none;}

		</style>
	</head>
<body class="no-skin">
<%- include('public/nav')%>

<div class="main-container" id="main-container">
	<%- include('public/side') %>
	<div class="main-content">
		<div id="content" class="main-content-inner">
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="widget-box">
						<div class="widget-header">
							<h4 class="widget-title">搜索：</h4>
							<div class="widget-toolbar">
							<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<form class="form" id="sform">
									<label>字典类型编码：</label>
									<input style="text" class="text" name="type">
									<button class="btn btn-info btn-xs" type="submit"><i class="ace-icon fa fa-check bigger-110"></i>查询</button>
									<button class="btn btn-xs" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i>重置</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button id="but_add" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-plus"></i> 新增字典</button>
				</div>
			</div>
			<div class="row">
				<div id="grid_list" class="col-xs-12">
					<!-- <div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all">
					<div id="ajaxbox" class="ui-state-default ui-jqgrid-hdiv">
                        <table class="g-table ui-jqgrid-htable col-xs-12">
                            <thead>
                                <tr class="g-tc ui-jqgrid-labels">
                                    <th width="30" class="ui-state-default ui-th-column ui-th-ltr"><div>
                                        <input type="checkbox" data-checkname='id'>
                                    </div></th>
                                    <th><div>序号</div></th>
                                    <th><div>师说名称</div></th>
                                    <th><div>状态</div></th>
                                    <th><div class="ui-jqgrid-sortable">更新时间<span class="s-ico" style=""><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-icon ui-icon-triangle-1-s ui-sort-ltr ui-state-disabled"></span></span></div></th>
                                    <th><div>操作</div></th>
                                </tr>
                            </thead>
                            <tbody><tr class="jqgfirstrow" role="row" style="height:auto"><td role="gridcell" style="height:0px;width:25px;"></td><td role="gridcell" style="height: 0px; width: 285px;"></td><td role="gridcell" style="height: 0px; width: 285px;"></td><td role="gridcell" style="height: 0px; width: 285px;"></td><td role="gridcell" style="height: 0px; width: 285px;"></td><td role="gridcell" style="height:0px;width:170px;"></td></tr><tr role="row" id="1" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr"><td role="gridcell" style="text-align:center;width: 25px;" aria-describedby="grid_cb"><input role="checkbox" type="checkbox" id="jqg_grid_1" class="cbox" name="jqg_grid_1"></td><td role="gridcell" style="" title="PendingSettle" aria-describedby="grid_code">PendingSettle</td><td role="gridcell" style="" title="可用" aria-describedby="grid_dataDictionaryStatus">可用</td><td role="gridcell" style="" title="待结算" aria-describedby="grid_label">待结算</td><td role="gridcell" style="" title="Pending Settle" aria-describedby="grid_label_en">Pending Settle</td><td role="gridcell" style="" aria-describedby="grid_comm"><a class="btn btn-xs btn-link">添加</a><a class="btn btn-xs btn-link">修改</a><a class="btn btn-xs btn-link">删除</a></td></tr><tr role="row" id="2" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr ui-priority-secondary"><td role="gridcell" style="text-align:center;" aria-describedby="grid_cb"><input role="checkbox" type="checkbox" id="jqg_grid_2" class="cbox" name="jqg_grid_2"></td><td role="gridcell" style="" title="InSettling" aria-describedby="grid_code">InSettling</td><td role="gridcell" style="" title="可用" aria-describedby="grid_dataDictionaryStatus">可用</td><td role="gridcell" style="" title="结算中" aria-describedby="grid_label">结算中</td><td role="gridcell" style="" title="In Settling" aria-describedby="grid_label_en">In Settling</td><td role="gridcell" style="" aria-describedby="grid_comm"><a class="btn btn-xs btn-link">添加</a><a class="btn btn-xs btn-link">修改</a><a class="btn btn-xs btn-link">删除</a></td></tr><tr role="row" id="3" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr"><td role="gridcell" style="text-align:center;" aria-describedby="grid_cb"><input role="checkbox" type="checkbox" id="jqg_grid_3" class="cbox" name="jqg_grid_3"></td><td role="gridcell" style="" title="Settled" aria-describedby="grid_code">Settled</td><td role="gridcell" style="" title="可用" aria-describedby="grid_dataDictionaryStatus">可用</td><td role="gridcell" style="" title="已结算" aria-describedby="grid_label">已结算</td><td role="gridcell" style="" title="Settled" aria-describedby="grid_label_en">Settled</td><td role="gridcell" style="" aria-describedby="grid_comm"><a class="btn btn-xs btn-link">添加</a><a class="btn btn-xs btn-link">修改</a><a class="btn btn-xs btn-link">删除</a></td></tr></tbody>
                        </table>
                    </div>
                    		<div id="pagenav" class="pagenav g-tr"></div>
                    </div> -->
				</div>
			</div><!-- end grid row-->
		</div>
		</div>
	</div>
</div>
<div id="mask" class="widget-box-overlay hide"></div>
<script id="itemTpl" type="text/html">
<div class="row">
	<input type="hidden" name="dataInfoId">
	<input type="text" name="code" class="col-sm-2 input-sm" placeholder="字典编码" title="字典编码">
	<input type="text" name="label_zh" class="col-sm-2 input-sm" placeholder="名称(中文)" title="字典名称(中文)">
	<input type="text" name="label_en" class="col-sm-2 input-sm" placeholder="名称(英文)" title="字典名称(英文)">
	<input type="text" name="innerValue" class="col-sm-2 input-sm" placeholder="内部值" title="内部使用数值">
	<div class="col-xs-12 col-sm-4">
		<div class="btn-group btn-group-xs pull-right">
			<button data-comm="onoff" type="button" class="btn btn-default" title="禁用/启用"><i class="glyphicon glyphicon-ban-circle"></i></button>
			<button data-comm="goup" type="button" class="btn btn-default" title="上移"><i class="glyphicon glyphicon-arrow-up"></i></button>
			<button data-comm="godown" type="button" class="btn btn-default" title="下移"><i class="glyphicon glyphicon-arrow-down"></i></button>
			<button data-comm="del" type="button" class="btn btn-default" title="删除"><i class="glyphicon glyphicon-remove"></i></button>
		</div>
	</div>
</div>
</script>

<script id="addEditTpl" type="text/html">
<div id="addEditDom">
	<h4 id="title"><b>新增数据字典</b></h4>
	<hr class="no-margin">
	<input type="hidden" name="id">
	<div class="row">
		<div class="col-xs-12 col-sm-6 form-group">
			<label class="col-sm-5 control-label no-padding lm-5" for="type">字典类型编码:</label>
			<div class="col-sm-7">
				<input type="text" id="type" name="type" class="form-control col-sm-5 input-sm">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 form-group">

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 form-group">
			<label class="col-sm-5 control-label no-padding lm-5" for="type_label_zh">类型名称(中文):</label>
			<div class="col-sm-7">
				<input type="text" id="type_label_zh" name="typeLabel_zh" class="form-control col-sm-5 input-sm">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 form-group">
			<label class="col-sm-5 control-label no-padding lm-5" for="type_label_en">类型名称(英文):</label>
			<div class="col-sm-7">
				<input type="text" id="type_label_en" name="typeLabel_en" class="form-control col-sm-5 input-sm">
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><a href="#" class="pull-right addItem"><i class="glyphicon glyphicon-plus"></i></a>字典项</h3>
		</div>
		<div class="panel-body">
			<div>
				<div class="row">
					<span class="col-sm-2">字典编码</span>
					<span class="col-sm-2">名称(中文)</span>
					<span class="col-sm-2">名称(英文)</span>
					<span class="col-sm-2">内部数值</span>
				</div>
			</div>
		</div>
		<table class="table" style="display:none;">
		<thead>
			<tr>
				<th>字典编码</th>
				<th>名称(中文)</th>
				<th>名称(英文)</th>
				<th>内部数值</th>
				<th>状态</th>
				<th style="width:105px;"><a href="#" class="pull-right addItem"><i class="glyphicon glyphicon-plus"></i></a>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="hidden" name="dataInfoId"><input type="text" name="code" class="col-sm-12 input-sm" placeholder="字典编码" title="字典编码"></td>
				<td><input type="text" name="label_zh" class="col-sm-12 input-sm" placeholder="名称(中文)" title="字典名称(中文)"></td>
				<td><input type="text" name="label_en" class="col-sm-12 input-sm" placeholder="名称(英文)" title="字典名称(英文)"></td>
				<td><input type="text" name="innerValue" class="col-sm-12 input-sm" placeholder="内部值" title="内部使用数值"></td>
				<td>
					<div class="btn-group btn-group-xs">
					<button data-comm="onoff" type="button" class="btn btn-default" title="禁用/启用"><i class="glyphicon glyphicon-ban-circle"></i></button></td>
					</div>
				<td>
				<div class="btn-group btn-group-xs">
					<button data-comm="goup" type="button" class="btn btn-default" title="上移"><i class="glyphicon glyphicon-arrow-up"></i></button>
					<button data-comm="godown" type="button" class="btn btn-default" title="下移"><i class="glyphicon glyphicon-arrow-down"></i></button>
					<button data-comm="del" type="button" class="btn btn-default" title="删除"><i class="glyphicon glyphicon-remove"></i></button>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</script>

<%- include('public/footscript1') %>
<%- include('public/footscript2') %>

<script src='/js/jquery-ui.min.js'></script>
<script src='/js/moment.min.js'></script>
<script src='/js/bootstrap-datepicker.min.js'></script>
<script src='/js/bootstrap-datetimepicker.min.js'></script>

<!-- process enter -->
<script>
seajs.use('dataDictionary.list', function(m){
	//m.init();
});
</script>
<%- include('public/footer') %>