<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%=title%></title>

		<meta name="description" content="Tcl settlements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link href='/css/jquery-ui.min.css' rel="stylesheet" />
		<link href='/css/jquery-ui.custom.min.css' rel="stylesheet" />
		<link href='/css/datepicker.min.css' rel="stylesheet" />
		<link href='/css/bootstrap-datetimepicker.min.css' rel="stylesheet" />
		<link href='/css/ui.jqgrid.css' rel="stylesheet" />
		<%- include('public/header') %>
		<style>
			.lm-5{
				margin-top:5px; 
			}
			.row{
				margin: 4px 0;
			}
		</style>
	</head>
<body class="no-skin">
<%- include('public/nav')%>

<div class="main-container" id="main-container">
	<%- include('public/side') %>
	<div class="main-content">
		<div id="content" class="main-content-inner">
		<div class="page-content">
			<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">搜索：</h4>
						<div class="widget-toolbar">
						<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="row">
								<div class="col-xs-12 col-sm-4">
								 <label class="col-sm-3 no-padding lm-5">清分日期:</label>
								 <div class="col-sm-9 no-padding">
								  <div class="col-sm-6 no-padding"><div class="input-group"><input type="text" class="input-sm form-control datepicker" name="qfstart" placeholder="from" data-date-format="dd/mm/yyyy" /><span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span></div></div>
								  <div class="col-sm-6 no-padding"><div class="input-group"><input type="text" class="input-sm form-control datepicker" name="qfend" placeholder="to" data-date-format="dd/mm/yyyy" /><span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span></div></div>
								 </div>
								</div>
								<div class="col-xs-12 col-sm-4">
								 <label class="col-sm-3 no-padding lm-5">交易日期:</label>
								 <div class="col-sm-9 no-padding">
								  <div class="col-sm-6 no-padding"><div class="input-group"><input type="text" class="input-sm form-control datepicker" name="jystart" placeholder="from" data-date-format="dd/mm/yyyy" /><span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span></div></div>
								  <div class="col-sm-6 no-padding"><div class="input-group"><input type="text" class="input-sm form-control datepicker" name="jyend" placeholder="to" data-date-format="dd/mm/yyyy" /><span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span></div></div>
								 </div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="qfstatus">清分状态:</label></div>
									<div class="col-sm-9">
								  	<select class="form-control" id="qfstatus">
										<option value="1">待结算</option>
										<option value="2">结算种</option>
										<option value="3">已结算</option>
										<option value="4">已归档</option>
									</select>
								</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="commercialId">商户编号:</label>
									<div class="col-sm-9">
										<input type="text" id="commercialId" class="form-control col-sm-5 input-sm">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="commercialName">商户名称:</label>
									<div class="col-sm-9">
										<input type="text" id="commercialName" class="form-control col-sm-5 input-sm">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="account">账户编号:</label>
									<div class="col-sm-9">
										<input type="text" id="account" class="form-control col-sm-5 input-sm">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9 col-ys-2">
									<button class="btn btn-info btn-sm" type="button">
										<i class="ace-icon fa fa-check bigger-110"></i>
										查询
									</button>
									<button class="btn btn-sm" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										重置
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div><!-- end search box row -->

			<div class="row">
				<div class="col-xs-12">
					<div class="ui-jqgrid ui-widget ui-widget-content ui-corner-all" id="gbox_grid" dir="ltr" style="width: 100%;">
						<div class="ui-widget-overlay jqgrid-overlay" id="lui_grid"></div>
						<div class="loading ui-state-default ui-state-active" id="load_grid" style="display: none;">读取中...</div>
						<div class="ui-jqgrid-view" id="gview_grid" style="width: 100%;">
							<div class="ui-jqgrid-titlebar ui-jqgrid-caption ui-widget-header ui-corner-top ui-helper-clearfix" style="display: none;"><a role="link" class="ui-jqgrid-titlebar-close ui-corner-all HeaderButton" style="right: 0px;"><span class="ui-icon ui-icon-circle-triangle-n"></span></a><span class="ui-jqgrid-title"></span></div>
							<div class="ui-state-default ui-jqgrid-hdiv" style="width: 100%;">
								<div class="ui-jqgrid-hbox">
									<table class="ui-jqgrid-htable" style="width: 100%" role="grid" aria-labelledby="gbox_grid" cellspacing="0" cellpadding="0" border="0">
										<thead>
											<tr class="ui-jqgrid-labels" role="rowheader">
												<th id="grid_cb" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 25px;"><div id="jqgh_grid_cb"><input role="checkbox" id="cb_grid" class="cbox" type="checkbox"><span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_merchantId" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 9%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_merchantId" class="ui-jqgrid-sortable">商户ID<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_accountNumber" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 9%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_accountNumber" class="ui-jqgrid-sortable">流水号<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_clearingDate" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 12%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_clearingDate" class="ui-jqgrid-sortable">清算日期<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_tradeAmount" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 7%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_tradeAmount" class="ui-jqgrid-sortable">交易金额<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_tradeTrans" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 7%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_tradeTrans" class="ui-jqgrid-sortable">交易笔数<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_refundAmount" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 7%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_refundAmount" class="ui-jqgrid-sortable">退还金额<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_refundTrans" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 7%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_refundTrans" class="ui-jqgrid-sortable">退换笔数<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_cost" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 7%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_cost" class="ui-jqgrid-sortable">成本<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_serviceCharge" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 7%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_serviceCharge" class="ui-jqgrid-sortable">服务费<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_settleAmount" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 7%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_settleAmount" class="ui-jqgrid-sortable">清算量<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_profit" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 7%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_profit" class="ui-jqgrid-sortable">收益<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
												<th id="grid_status" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span><div id="jqgh_grid_status" class="ui-jqgrid-sortable">状态<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span></div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="ui-jqgrid-bdiv" style="height: 400px; width:100%;">
								<div style="position:relative;">
									<div class="ui-jqgrid-hbox">
									<table id="grid" tabindex="0" cellspacing="0" cellpadding="0" border="0" role="grid" aria-multiselectable="true" aria-labelledby="gbox_grid" class="ui-jqgrid-btable" style="width: 100%;">
									<tbody id="grid_list_body">
										
									</tbody>
									</table>
									</div>
								</div>
							</div>
						</div>
						<div class="ui-jqgrid-resize-mark" id="rs_mgrid">&nbsp;</div>
						<div id="pager" class="ui-state-default ui-jqgrid-pager ui-corner-bottom" dir="ltr" style="width: 100%;">
							<div id="pg_pager" class="ui-pager-control" role="group">
								<table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table" style="width:100%;table-layout:fixed;height:100%;" role="row">
									<tbody>
										<tr>
											<td id="pager_left" align="left">
												<table cellspacing="0" cellpadding="0" border="0" class="ui-pg-table navtable" style="float:left;table-layout:auto;">	<tbody>
													<tr>
														<td class="ui-pg-button ui-corner-all" title="" id="view_grid" data-original-title="查看所选记录"><div class="ui-pg-div"><span class="ui-icon ace-icon fa fa-search-plus grey"></span></div></td>
														<td class="ui-pg-button ui-state-disabled" style="width:4px;" data-original-title="" title=""><span class="ui-separator"></span></td>
														<td class="ui-pg-button ui-corner-all" title="" id="refresh_grid" data-original-title="刷新表格"><div class="ui-pg-div"><span class="ui-icon ace-icon fa fa-refresh green"></span></div></td>
													</tr>
													</tbody>
												</table>
											</td>
											<td id="pager_center" align="center">
												<table cellspacing="0" cellpadding="0" border="0" style="table-layout:auto;" class="ui-pg-table">
													<tbody>
														<tr>
															<td id="first_pager" class="ui-pg-button ui-corner-all ui-state-disabled" style="cursor: default;"><span class="ui-icon ace-icon fa fa-angle-double-left bigger-140"></span></td>
															<td id="prev_pager" class="ui-pg-button ui-corner-all ui-state-disabled" style="cursor: default;"><span class="ui-icon ace-icon fa fa-angle-left bigger-140"></span></td>
															<td class="ui-pg-button ui-state-disabled" style="width: 4px; cursor: default;"><span class="ui-separator"></span></td>
															<td dir="ltr">第 <input class="ui-pg-input" type="text" size="2" maxlength="7" value="1" role="textbox">页 共 <span id="sp_1_pager">2</span> 页</td><td class="ui-pg-button ui-state-disabled" style="width: 4px; cursor: default;"><span class="ui-separator"></span></td>
															<td id="next_pager" class="ui-pg-button ui-corner-all" style="cursor: default;"><span class="ui-icon ace-icon fa fa-angle-right bigger-140"></span></td>
															<td id="last_pager" class="ui-pg-button ui-corner-all" style="cursor: default;"><span class="ui-icon ace-icon fa fa-angle-double-right bigger-140"></span></td>
														</tr>
													</tbody>
												</table>
											</td>
											<td id="pager_right" align="right">
												<div dir="ltr" style="text-align:right" class="ui-paging-info">1 - 10　共 10 条</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div><!-- end grid row-->
		</div>
		</div>
	</div>
</div>
<div id="mask" class="widget-box-overlay hide"></div>

<script id="first_row_template" type="text/html">
<tr class="jqgfirstrow" role="row" style="height:auto">
	<td role="gridcell" style="height:0px;width:25px;"></td><td role="gridcell" style="height: 0px; width: 9%;"></td><td role="gridcell" style="height: 0px; width: 9%;"></td><td role="gridcell" style="height: 0px; width: 12%;"></td><td role="gridcell" style="height: 0px; width: 7%;"></td><td role="gridcell" style="height: 0px; width: 7%;"></td><td role="gridcell" style="height: 0px; width: 7%;"></td><td role="gridcell" style="height: 0px; width: 7%;"></td><td role="gridcell" style="height: 0px; width: 7%;"></td><td role="gridcell" style="height: 0px; width: 7%;"></td><td role="gridcell" style="height: 0px; width: 7%;"></td><td role="gridcell" style="height: 0px; width: 7%;"></td><td role="gridcell" style="height: 0px;"></td>
</tr>
</script>
<script id="row_template" type="text/html">
<$
	var item;
	for(var i=0;i<data.length;i++){
		item = data[i];
$>
	<tr role="row" id="1" tabindex="-1" class="ui-widget-content jqgrow ui-row-ltr" aria-selected="false">
		<td role="gridcell" style="text-align:center;width: 25px;" aria-describedby="grid_cb"><input role="checkbox" type="checkbox" id="jqg_grid_1" class="cbox" name="jqg_grid_1"></td>
		<td role="gridcell" style="" title="<$=item.merchantId$>" aria-describedby="grid_merchantId"><$=item.merchantId$></td>
		<td role="gridcell" style="" title="<$=item.accountNumber$>" aria-describedby="grid_accountNumber"><$=item.accountNumber$></td>
		<td role="gridcell" style="" title="<$=item.clearingDate$>" aria-describedby="grid_clearingDate"><$=item.clearingDate$></td>
		<td role="gridcell" style="" title="<$=item.tradeAmount$>" aria-describedby="grid_tradeAmount"><$=item.tradeAmount$></td>
		<td role="gridcell" style="" title="<$=item.tradeTrans$>" aria-describedby="grid_tradeTrans"><$=item.tradeTrans$></td>
		<td role="gridcell" style="" title="<$=item.refundAmount$>" aria-describedby="grid_refundAmount"><$=item.refundAmount$></td>
		<td role="gridcell" style="" title="<$=item.refundTrans$>" aria-describedby="grid_refundTrans"><$=item.refundTrans$></td>
		<td role="gridcell" style="" title="<$=item.cost$>" aria-describedby="grid_cost"><$=item.cost$></td>
		<td role="gridcell" style="" title="<$=item.serviceCharge$>" aria-describedby="grid_serviceCharge"><$=item.serviceCharge$></td>
		<td role="gridcell" style="" title="<$=item.settleAmount$>" aria-describedby="grid_settleAmount"><$=item.settleAmount$></td>
		<td role="gridcell" style="" title="<$=item.profit$>" aria-describedby="grid_profit"><$=item.profit$></td>
		<td role="gridcell" style="" title="<$=item.status$>" aria-describedby="grid_status"><$=item.status$></td>
	</tr>
<$}$>
</script>

<%- include('public/footscript1') %>
<%- include('public/footscript2') %>

<script src='/js/jquery-ui.custom.min.js'></script>
<script src='/js/moment.min.js'></script>
<script src='/js/bootstrap-datepicker.min.js'></script>
<script src='/js/bootstrap-datetimepicker.min.js'></script>
<script src='/js/jquery.jqGrid.min.js'></script>
<script src='/js/grid.locale-cn.js'></script>


<!-- process enter -->
<script>
seajs.use('qingfen-list', function(m){
	m.init();
});
</script>
<%- include('public/footer') %>