<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%=title%></title>

		<meta name="description" content="Tcl settlements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link href='<%-setting.filePath%>/css/jquery-ui.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/jquery-ui.custom.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/datepicker.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/bootstrap-datetimepicker.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/ui.jqgrid.css' rel="stylesheet" />
		<%- include('public/header') %>
		<style>
			.lm-5{
				margin-top: 5px;
			}
			.row{
				margin: 4px 0;
			}
		</style>
	</head>
<body class="no-skin">
<%- include('public/nav')%>

<div class="main-container" id="main-container">
	<%- include('public/side') %>
	<div class="main-content">
		<div id="content" class="main-content-inner">
		<div class="page-content">
			<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">搜索：</h4>
						<div class="widget-toolbar">
						<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
						<form id="sfrom">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<label class="col-sm-3 control-label no-padding lm-5" for="merchantIds">商户编号:</label>
									<div class="col-sm-9">
										<input type="text" id="merchantIds" name="merchantIds" class="form-control col-sm-5 input-sm">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="merchantName">商户名称:</label></div>
									<div class="col-sm-9">
										<input type="text" id="merchantName" name="merchantName" class="form-control col-sm-5 input-sm">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<label class="col-sm-3 control-label no-padding lm-5" for="settleStatementIds">结算单号:</label>
									<div class="col-sm-9">
										<input type="text" id="settleStatementIds" name="settleStatementIds" class="form-control col-sm-5 input-sm">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="status">结算状态:</label></div>
									<div class="col-sm-9">
									  	<select class="form-control" id="status" name="status" data-typename="settleStatus">
									  		<option value="">全部</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
								 <label class="col-sm-3 no-padding lm-5">结算日期:</label>
								 <div class="col-sm-9 no-padding">
								 	<div class="col-sm-12">
								 		<div class="input-group"><input type="text" class="input-sm form-control datepicker" id="settleDateStart" data-date-format="yyyy-mm-dd" placeholder="from" /><span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
								 		<span class="input-group-addon" style="background:none; border:0 none; padding-left:3px; padding-right:3px;">-</span>
								 		<input type="text" class="input-sm form-control datepicker" id="settleDateEnd" data-date-format="yyyy-mm-dd" placeholder="to" /><span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span></div>
								 	</div>
								 </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<button id="query-btn" class="btn btn-info btn-sm" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										查询
									</button>
									<button id="reset-btn" class="btn btn-sm" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										重置
									</button>
								</div>
								<div class="col-md-6 align-right">
									<button id="concat-btn" class="btn btn-info btn-sm" type="button">
										<i class="ace-icon fa fa-coffee bigger-110 white"></i>
										合计
									</button>
									<button id="download-btn" class="btn btn-info btn-sm" type="button">
										<i class="ace-icon fa fa-download bigger-110 white"></i>
										下载
									</button>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
			</div><!-- end search box row -->
			<div class="row"><div id="export_panel" class="col-xs-12"></div></div>
			<div class="row">
				<div id="grid_list" class="col-xs-12">
				</div>
			</div><!-- end grid row-->
		</div>
		</div>
	</div>
</div>
<div id="mask" class="widget-box-overlay hide"></div>
<script id="totalTpl" type="text/html">
<table id="total_table" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th class="center">
				<label class="pos-rel">&nbsp;</label>
			</th>
			<th>款项类型</th>
			<th>币种（USD）</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="center" rowspan="3" valign="bottom">合计</td>
			<td>
				结算金额
			</td>
			<td><%%=settleAmount%></td>
		</tr>
		<tr>
			<td>
				付款金额
			</td>
			<td><%%=payAmount%></td>
		</tr>
		<tr>
			<td>
				付款手续费
			</td>
			<td><%%=serviceCharge%></td>
		</tr>
	</tbody>
</table>
</script>
<%- include('public/footscript1') %>
<%- include('public/footscript2') %>

<script src='<%-setting.filePath%>/js/jquery-ui.custom.min.js'></script>
<script src='<%-setting.filePath%>/js/moment.min.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-datepicker.min.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-datetimepicker.min.js'></script>
<script src='<%-setting.filePath%>/js/jquery.jqGrid.min.js'></script>
<script src='<%-setting.filePath%>/js/grid.locale-cn.js'></script>


<!-- process enter -->
<script>
seajs.use('settle-query', function(m){
	m.init();
});
</script>
<%- include('public/footer') %>