<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%=title%></title>

		<meta name="description" content="Tcl settlements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link href='<%-setting.filePath%>/css/jquery-ui.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/jquery-ui.custom.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/datepicker.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/bootstrap-datetimepicker.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/ui.jqgrid.css' rel="stylesheet" />
		<%- include('public/header') %>
		<style>
			.lm-5{
				margin-top: 5px;
			}
			.row{
				margin: 4px 0;
			}
		</style>
	</head>
<body class="no-skin">
<%- include('public/nav')%>

<div class="main-container" id="main-container">
	<%- include('public/side') %>
	<div class="main-content">
		<div id="content" class="main-content-inner">
		<div class="page-content">
			<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">搜索：</h4>
						<div class="widget-toolbar">
						<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
						<form id="sform">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<label class="col-sm-3 control-label no-padding lm-5" for="merchantIds">商户编号:</label>
									<div class="col-sm-9">
										<input type="text" id="merchantIds" name="merchantIds" class="form-control col-sm-5 input-sm">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="merchantName">商户名称:</label></div>
									<div class="col-sm-9">
										<input type="text" id="merchantName" name="merchantName" class="form-control col-sm-5 input-sm">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<label class="col-sm-3 control-label no-padding lm-5" for="district">所属地区:</label>
									<div class="col-sm-9">
										<input type="text" id="district" name="district" class="form-control col-sm-5 input-sm">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="businessTypeInt">行业类别:</label></div>
									<div class="col-sm-9">
									  	<select class="form-control" id="businessTypeInt" name="businessTypeInt" data-typename="businessType">
									  		<option value="">全部</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
								 <label class="col-sm-3 no-padding lm-5">对公结算限额:</label>
								 <div class="col-sm-9 no-padding">
								 	<div class="col-sm-4">
								 		<input id="businessLimitFloor" name="businessLimitFloor" class="form-control input-sm">
								 	</div>
								 	<div class="col-sm-1 align-center lm-5">-</div>
								 	<div class="col-sm-4">
								 		<input id="businessLimitCeiling" name="businessLimitCeiling" class="form-control input-sm">
								 	</div>
								 	<div class="col-sm-3">
								 		<div class="checkbox">
											<label>
												<input id="businessLimit" name="businessLimit" type="checkbox" class="ace">
												<span class="lbl">不限额</span>
											</label>
										</div>
								 	</div>
								 </div>
								</div>
								<div class="col-xs-12 col-sm-6">
								 <label class="col-sm-3 no-padding lm-5">对法人结算限额:</label>
								 <div class="col-sm-9 no-padding">
								 	<div class="col-sm-4">
								 		<input id="legalPersonLimitFloor" name="legalPersonLimitFloor" class="form-control input-sm">
								 	</div>
								 	<div class="col-sm-1 align-center lm-5">-</div>
								 	<div class="col-sm-4">
								 		<input id="legalPersonLimitCeiling" name="legalPersonLimitCeiling" class="form-control input-sm">
								 	</div>
								 	<div class="col-sm-3">
								 		<div class="checkbox">
											<label>
												<input id="legalPersonLimit" name="legalPersonLimit" type="checkbox" class="ace">
												<span class="lbl">不限额</span>
											</label>
										</div>
								 	</div>
								 </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<button id="query-btn" class="btn btn-info btn-sm" type="submit">
										<i class="ace-icon fa fa-check bigger-110"></i>
										查询
									</button>
									<button id="reset-btn" class="btn btn-sm" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										重置
									</button>
								</div>
								<div class="col-md-6 align-right">
									<button id="add-btn" class="btn btn-info btn-sm" type="button">
										<i class="ace-icon fa fa-plus bigger-110 white"></i>
										添加
									</button>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
			</div><!-- end search box row -->

			<div class="row">
				<div id="grid_list" class="col-xs-12">
				</div>
			</div><!-- end grid row-->
		</div>
		</div>
	</div>
</div>
<div id="mask" class="widget-box-overlay hide"></div>

<script id="addEditTpl" type="text/html">
<div class="row">
	<div class="col-xs-12 col-sm-12 form-group">
		<label class="col-sm-2 control-label no-padding lm-5" for="fmerchantId">商户编号:</label>
		<div class="col-sm-10">
			<input type="text" id="fmerchantId" class="form-control input-sm" placeholder="必须填写" data-empty='true'>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-4 control-label no-padding lm-5" for="fbusinessTypeInt">行业类别:</label>
		<div class="col-sm-8">
			<select class="form-control" id="fbusinessTypeInt">
			</select>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-6 control-label no-padding lm-5" for="fbusinessLimit">对公结算限额:</label>
		<div class="col-sm-6">
			<input type="text" id="fbusinessLimit" class="form-control col-sm-5 input-sm" placeholder="0.00" data-int="true">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-6 control-label no-padding lm-5" for="flegalPersonLimit">对法人结算限额:</label>
		<div class="col-sm-6">
			<input type="text" id="flegalPersonLimit" class="form-control col-sm-5 input-sm" placeholder="0.00" data-int="true" value="0">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-6 control-label no-padding lm-5" for="ftZeroLimit">T+0结算额度:</label>
		<div class="col-sm-6">
			<input type="text" id="ftZeroLimit" class="form-control col-sm-5 input-sm" placeholder="0.00" data-int="true" value="0">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 form-group">
		<div class="col-sm-6 no-padding"><label class="align-right control-label no-padding lm-5" for="ftZeroHolidayLimit">T+0假日结算额度:</label></div>
		<div class="col-sm-6">
		  	<input type="text" id="ftZeroHolidayLimit" class="form-control col-sm-5 input-sm" placeholder="0.00" data-int="true" value="0">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 form-group">
		<div class="col-sm-6 no-padding"><label class="align-right control-label no-padding lm-5" for="ftOneHolidayLimit">T+1假日结算额度:</label></div>
		<div class="col-sm-6">
		  	<input type="text" id="ftOneHolidayLimit" class="form-control col-sm-5 input-sm" placeholder="0.00" data-int="true" value="0">
		</div>
	</div>
</div>
</script>

<script id="viewTpl" type="text/html">
<div class="row">
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-4 control-label no-padding lm-5" for="fmerchantId">商户编号:</label>
		<div class="col-sm-8 lm-5"><%%=data.merchantId %></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-4 control-label no-padding lm-5" for="fbusinessTypeInt">行业类别:</label>
		<div class="col-sm-8 lm-5"><%%=businessType[data.businessTypeInt] %></div>
	</div>
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-6 control-label no-padding lm-5" for="fbusinessLimit">对公结算限额:</label>
		<div class="col-sm-6 lm-5"><%%=data.businessLimit %></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-6 control-label no-padding lm-5" for="flegalPersonLimit">对法人结算限额:</label>
		<div class="col-sm-6 lm-5"><%%=data.legalPersonLimit %></div>
	</div>
	<div class="col-xs-12 col-sm-6 form-group">
		<label class="col-sm-6 control-label no-padding lm-5" for="ftZeroLimit">T+0结算额度:</label>
		<div class="col-sm-6 lm-5"><%%=data.tranZeroLimit %></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 form-group">
		<div class="col-sm-6 no-padding"><label class="align-right control-label no-padding lm-5" for="ftZeroHolidayLimit">T+0假日结算额度:</label></div>
		<div class="col-sm-6 lm-5"><%%=data.tranZeroHolidayLimit %></div>
	</div>
	<div class="col-xs-12 col-sm-6 form-group">
		<div class="col-sm-6 no-padding"><label class="align-right control-label no-padding lm-5" for="ftOneHolidayLimit">T+1假日结算额度:</label></div>
		<div class="col-sm-6 lm-5"><%%=data.tranOneHolidayLimit %></div>
	</div>
</div>
</script>

<%- include('public/footscript1') %>
<%- include('public/footscript2') %>

<script src='<%-setting.filePath%>/js/jquery-ui.custom.min.js'></script>
<script src='<%-setting.filePath%>/js/moment.min.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-datepicker.min.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-datetimepicker.min.js'></script>
<script src='<%-setting.filePath%>/js/jquery.jqGrid.min.js'></script>
<script src='<%-setting.filePath%>/js/grid.locale-cn.js'></script>


<!-- process enter -->
<script>
seajs.use('settle-limit', function(m){
	m.init();
});
</script>
<%- include('public/footer') %>