<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%=title%></title>

		<meta name="description" content="Tcl settlements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link href='/css/jquery-ui.min.css' rel="stylesheet" />
		<link href='/css/jquery-ui.custom.min.css' rel="stylesheet" />
		<link href='/css/datepicker.min.css' rel="stylesheet" />
		<link href='/css/bootstrap-datetimepicker.min.css' rel="stylesheet" />
		<link href='/css/ui.jqgrid.css' rel="stylesheet" />
		<%- include('public/header') %>
		<style>
			.lm-5{
				margin-top: 5px;
			}
			.row{
				margin: 4px 0;
			}
			.ui-jqgrid-hdiv .ui-jqgrid-htable {border: 1px solid #E1E1E1; background:#FFF;}
			.ui-jqgrid .ui-jqgrid-htable th div {height:44px; line-height:20px;}
			.ui-jqgrid .ui-jqgrid-htable th div .s-ico {line-height:15px;}
			.ui-jqgrid .ui-jqgrid-htable tbody td {word-wrap: break-word;}
		</style>
	</head>
<body class="no-skin">
<%- include('public/nav')%>

<div class="main-container" id="main-container">
	<%- include('public/side') %>
	<div class="main-content">
		<div id="content" class="main-content-inner">
			<div class="page-content">
				<div class="page-header">
					<h1>修改密码</h1>
				</div>
				<form id="form1" class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1">原密码 </label>
						<div class="col-sm-9">
							<input type="password" id="form-field-1" name="pwd_o" placeholder="" class="col-xs-10 col-sm-5">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-2">新密码 </label>
						<div class="col-sm-9">
							<input type="password" id="form-field-2" name="pwd_n" placeholder="" class="col-xs-10 col-sm-5">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-3">再次输入 </label>
						<div class="col-sm-9">
							<input type="password" id="form-field-3" name="pwd_n1" placeholder="" class="col-xs-10 col-sm-5">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
							<button class="btn btn-info " type="submit"><i class="ace-icon fa fa-check bigger-110"></i>确定</button>
							<button class="btn " type="reset"><i class="ace-icon fa fa-undo bigger-110"></i>清空</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="mask" class="widget-box-overlay hide"></div>

<%- include('public/footscript1') %>
<%- include('public/footscript2') %>

<script src='/js/jquery-ui.min.js'></script>
<script src='/js/moment.min.js'></script>
<script src='/js/bootstrap-datepicker.min.js'></script>
<script src='/js/bootstrap-datetimepicker.min.js'></script>

<!-- process enter -->
<script>
seajs.use('system.password', function(m){
	//m.init();
});
</script>
<%- include('public/footer') %>