<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%=title%></title>

		<meta name="description" content="Tcl settlements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link href='/css/jquery-ui.min.css' rel="stylesheet" />
		<link href='/css/jquery-ui.custom.min.css' rel="stylesheet" />
		<link href='/css/datepicker.min.css' rel="stylesheet" />
		<link href='/css/bootstrap-datetimepicker.min.css' rel="stylesheet" />
		<link href='/css/ui.jqgrid.css' rel="stylesheet" />
		<%- include('public/header') %>
		<style>
			.lm-5{
				margin-top: 5px;
			}
			.row{
				margin: 4px 0;
			}
			.ui-jqgrid-hdiv .ui-jqgrid-htable {border: 1px solid #E1E1E1; background:#FFF;}
			.ui-jqgrid .ui-jqgrid-htable th div {height:44px; line-height:20px;}
			.ui-jqgrid .ui-jqgrid-htable th div .s-ico {line-height:15px;}
			.ui-jqgrid .ui-jqgrid-htable tbody td {word-wrap: break-word;}
		
			/* = pagenav分页
-------------------------------------------------------------- */
.pagenav {line-height:23px; font-family:'宋体'; font-size:12px; color:#888; vertical-align: top;box-sizing:content-box; vertical-align:middle; height:25px; text-align: right; padding:10px;}
.pagenav * {box-sizing:content-box;}
.pagenav em {font-style: normal;}
.pagenav a:hover {text-decoration:none;}
.pagenav select {padding:2px 3px 2px 3px; margin:0 3px; height: 20px;}
.pagenav-desc {/*display:none;*/}
.pagenav-desc em {/*color:#F60;*/color:#2698D9;}
.pagenav-current {color:#00a0e8; padding:0 4px; min-width:15px; text-align:center; display: inline-block;margin:3px 2px;}
.pagenav-total{padding:0 4px; color:green; display: inline-block;}
.pagenav-link {padding:0 4px; display: inline-block; min-width:15px; text-align:center; color:#999; margin:0px 2px;border: 1px solid #ddd;background: #fff;}
.pagenav-current-link { font-weight: bold; border:none;background:#2698D9; color:#FFF;}
.pagenav-link:hover {background:#F6F6F6;color:#2698D9;border-color:#2698D9;}
/*.pagenav-link-before {padding-right:10px;}
.pagenav-link-next {padding-left:10px;}*/
.pagenav-current-link:hover {background:#2698D9; color:#FFF;}
.only-one-page {display: none;}

		</style>
	</head>
<body class="no-skin">
<%- include('public/nav')%>

<div class="main-container" id="main-container">
	<%- include('public/side') %>
	<div class="main-content">
		<div id="content" class="main-content-inner">
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="widget-box">
						<div class="widget-header">
							<h4 class="widget-title">搜索：</h4>
							<div class="widget-toolbar">
							<a href="javascript:;" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<form class="form" id="sform">
								<div class="row">
									<div class="col-xs-12 col-sm-4">
										<label class="col-sm-3 no-padding lm-5">清分日期:</label>
										<div class="col-xs-12 col-sm-9 no-padding">
										<div class="col-sm-6 no-padding"><div class="input-group"><input type="text" class="input-sm form-control datepicker" id="startDate" name="startDate"  placeholder="from" data-date-format="yyyy-mm-dd hh:ii" /><span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span></div></div>
										<div class="col-sm-6 no-padding"><div class="input-group"><input type="text" class="input-sm form-control datepicker" id="endDate" name="endDate" placeholder="to" data-date-format="yyyy-mm-dd hh:ii" /><span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span></div></div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4">
										<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="qfstatus">订单编号:</label></div>
										<div class="col-sm-9"><input type="text" name="merchantOrderId" class="form-control col-sm-5 input-sm"></div>
									</div>
									<div class="col-xs-12 col-sm-4">
										<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="qfstatus">交易流水号:</label></div>
										<div class="col-sm-9"><input type="text" name="payOrderId" class="form-control col-sm-5 input-sm"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-4">
										<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="qfstatus">支付渠道:</label></div>
										<div class="col-sm-9 no-padding">
											<select class="form-control" data-typename="payChannel"  name="payTool">
												<option value="">全部</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4">
										<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="qfstatus">交易状态:</label></div>
										<div class="col-sm-9">
										<select class="form-control" name="orderStatus">
											<option value="全部">全部</option>
											<option value="交易成功">交易成功</option>
											<option value="交易失败">交易失败</option>
										</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-4 align-right">
										<button class="btn btn-info btn-sm" type="submit"><i class="ace-icon fa fa-check bigger-110"></i>查询</button>
										<button class="btn btn-sm" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i>重置</button>
										<button id="export-btn" class="btn btn-info btn-sm" type="button"><i class="ace-icon fa fa-file-excel-o bigger-110 white"></i>导出</button>
									</div>
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-xs-12">
					<button id="but_add" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-plus"></i> 新增字典</button>
				</div>
			</div> -->
			<div class="row">
				<div id="grid_list" class="col-xs-12">
				</div>
			</div><!-- end grid row-->
		</div>
		</div>
	</div>
</div>
<div id="mask" class="widget-box-overlay hide"></div>
<%- include('public/footscript1') %>
<%- include('public/footscript2') %>

<script src='/js/jquery-ui.min.js'></script>
<script src='/js/moment.min.js'></script>
<script src='/js/bootstrap-datepicker.min.js'></script>
<script src='/js/bootstrap-datetimepicker.min.js'></script>

<!-- process enter -->
<script>
seajs.use('tradeRecord.list', function(m){
	//m.init();
});
</script>
<%- include('public/footer') %>